{% extends "base.html" %}

{% block title %}<title>Home of Django Upload</title>{% endblock %}

{% block content %}
<h1>Home Of Django Upload</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolore quae inventore ipsam tempore magnam, optio
    minus, modi voluptatum adipisci debitis neque ea odit dolor corporis fugiat! Delectus explicabo, eligendi eius
    sapiente optio aperiam eaque hic voluptas ex laboriosam eos in ipsam impedit recusandae, quia aut! Soluta, quis.
    Numquam quidem eos quo harum, ullam qui quis totam, consectetur et, explicabo asperiores reiciendis nulla dolorem
    unde labore. Qui aut commodi numquam modi, eos quia at, ducimus officia esse repudiandae aliquid nisi culpa
    voluptatibus, ex nihil! Neque praesentium vero quasi voluptatem? Animi, repellat. Numquam maiores quos, incidunt
    quas recusandae soluta deleniti corrupti.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit odit recusandae dolorem? Fuga autem quam cupiditate
    corrupti eligendi amet error laboriosam perspiciatis blanditiis tempora perferendis repellendus veritatis ea eveniet
    quibusdam quo itaque aperiam quas placeat, aliquam ullam, soluta velit voluptatum? Ipsam repellat odio explicabo
    officiis ut facilis expedita error eos recusandae saepe sapiente veritatis, consequuntur placeat perferendis
    voluptates, ipsum minima obcaecati optio. Ratione nisi cumque sit quisquam placeat earum cupiditate, alias similique
    labore est enim quo fugit quis. Aliquam architecto exercitationem sequi! Numquam, illo? Sint voluptatem ad itaque,
    dolorem fugiat, rem modi, assumenda suscipit laborum ipsum est sunt quibusdam doloribus. Sit deserunt amet harum
    soluta at illo dolor corporis temporibus voluptates quasi recusandae enim dignissimos nisi accusamus quibusdam, et
    iusto quis rem minima. Maiores sequi tempora quisquam itaque quae blanditiis, labore delectus ipsum quos voluptate
    eum unde sed pariatur molestiae eligendi iusto non praesentium, architecto necessitatibus, sit iure obcaecati
    incidunt consequatur. Debitis provident inventore corporis molestiae illo beatae maxime ea atque repellendus, harum
    saepe eum, quod expedita delectus neque accusantium libero deserunt quis tenetur officia, sequi blanditiis. Soluta,
    deserunt tempora, ipsam, temporibus eius cumque architecto atque aliquam rerum iure nam dolor. Incidunt totam illo
    ullam aliquam laborum deserunt aperiam id.</p>
{% endblock %}