{% extends "base.html" %}

{% block title %}<title>Home of Django Upload</title>{% endblock %}

{% block content %}
<H1>Upload</H1>

<div class="card">
    <h5 class="card-header">Upload File</h5>
    <div class="card-body">
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name='document'>
            <button type='submit'>Upload File</button>
        </form>

        <a href="{{url}}">Download</a>

    </div>
</div>

{% endblock %}